<div class="container">
  <app-navbar></app-navbar>
  <!-- <app-tstohtml></app-tstohtml> -->
  <!-- <button
    type="button"
    class="btn btn-primary"
    (click)="handleBtnClick($event)"
  >
    Primary
  </button> -->
  <!-- <app-ngif1></app-ngif1> -->
  <!-- <app-ngif2></app-ngif2> -->
  <!-- <app-ngif3></app-ngif3> -->
  <!-- <app-ngfor1></app-ngfor1> -->
  <!-- <app-ngfor2></app-ngfor2> -->
  <!-- <app-ngfor3></app-ngfor3> -->
  <!-- <app-ngswitch></app-ngswitch> -->
  <!-- <app-bind1></app-bind1> -->
  <!-- <app-bind2></app-bind2> -->
  <!-- <app-bind2waybind></app-bind2waybind> -->
  <!-- <app-father></app-father> -->
  <!-- <app-animallist></app-animallist> -->
  <!-- <app-ng-class-dir></app-ng-class-dir> -->
  <!-- <app-ng-style-dir></app-ng-style-dir> -->
  <!-- <app-btn-bootstrap [btnType]="btnType">test</app-btn-bootstrap> -->
  <!-- <app-pipesexample></app-pipesexample> -->
  <!-- <app-customdirectivecomponent></app-customdirectivecomponent> -->
  <!-- <app-user-logged-in></app-user-logged-in> -->
  <!-- <app-is-user-logged-in></app-is-user-logged-in> -->
  <app-server-change-status></app-server-change-status>
</div>
