<h1 class="mt-2">
  Online <span class="badge bg-secondary">{{ usersOnline }}</span>
</h1>
<div class="list-group mt-2">
  <a
    href="#"
    class="list-group-item list-group-item-action"
    [ngClass]="{ 'active-red': user.isLoggedin }"
    aria-current="true"
    *ngFor="let user of users"
  >
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">username: {{ user.email }}</h5>
    </div>
    <p class="mb-1">password: {{ user.password }}</p>
    <small>status: {{ user.isLoggedin ? "loggedin" : "loggedout" }}</small>
  </a>
</div>
