<p
  appCustomedirectiverenderer
  [defaultBackgroungColor]="'red'"
  [defaultFontColor]="'green'"
>
  customdirectivecomponent works!
</p>
<p
  appCustomedirectiverenderer
  [defaultBackgroungColor]="'blue'"
  [defaultFontColor]="'yellow'"
>
  customdirectivecomponent works!
</p>
<p
  appCustomedirectivebind
  [defaultBackgroungColor]="'pink'"
  [defaultFontColor]="'black'"
>
  customdirectivecomponent works!
</p>
<p
  appCustomedirectivebind="yellow"
  [defaultBackgroungColor]="'pink'"
  [defaultFontColor]="'black'"
>
  customdirectivecomponent works!
</p>
